.irregular-results {
  display: flex;
  flex-wrap: wrap;

  &__answer {
    border: solid 1px #fff;
    padding: 1em;
    margin: .5em;
  }

  &__answer-title {
    margin-bottom: 0.5em;
  }

  &__answer-form {
    border: solid 1px #459b3a;
    color: #459b3a;
    padding: .3em;

    &--invalid {
      border: solid 1px #9b3a42;
      color: #9b3a42;
    }

    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  &__form {
    font-weight: bold;
  }
}
