.irregular-table {
  padding: 1em;

  &__table {
    width: 400px;
    max-width: 100%;
    margin: 1em 0;
  }

  &__col {
    border: solid 1px #fff;
    padding: .5em;
  }

  &__back-button {
    width: 100%;
    background: 0;
    border: solid 1px #fff;
    color: #fff;
    padding: .5em;
    cursor: pointer;
  }
}
