.container {
  padding: 0;
}

.link {
  text-decoration: none;
  color: #fff;

  &:hover {
    text-decoration: underline;
  }
}

.linkItem {
  list-style: none;

  + .linkItem {
    margin-top: .4em;
  }

  &:before {
    content: '-';
    display: inline-block;
    margin-right: .4em;
  }
}
