.raw-skills-list {
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
}

.raw-skill {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  margin-bottom: 1em;

  &__title {
    font-weight: bold;
    font-size: 1em;
  }

  &__level {
    font-size: 0.9em;
  }
}
