.letters-animation {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;

  &__letter {
    color: #fff;
    position: absolute;
    bottom: -100px;
    transition: 3s;
    opacity: 1;
  }

  &__letter-out {
    transition: 3s;
    opacity: 0;
  }
}
