@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

body {
  margin: 0;
  font-family: 'Inconsolata', source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  color: #fff;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

.home-container {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 99999;
}

.home-link {
  color: #fff;
  background: rgba(0,0,0,.5);
  padding: .5em;
}
