@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

body {
  margin: 0;
  font-family: 'Inconsolata', source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  color: #fff;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}
